/***** GENERAL *****/

.lilita-one-font {
	font-family: 'Lilita One', sans-serif;
}

.playpen-font {
	font-family: 'Playpen Sans', sans-serif;
	font-weight: 300;
}

.playpen-bold-font {
	font-family: 'Playpen Sans', sans-serif;
	font-weight: 500;
}

/***** THEMES *****/
.theme-light {
	--background: var(--white);
	--color: var(--black);
	--button-color: var(--blue);

	--navbar-main-link: var(--white);
	--navbar-link: var(--white);
	--navbar: var(--blue);

	--nav-link-hover: var(--lightblue);
	--nav-link-text-shadow: var(--white);
	--navbar-brand-hover: var(--lightblue);
	--nav-link: var(--white);

	--loginbutton: var(--lightblue);
	--loginbutton-background: var(--navy);
	--loginbutton-hover: var(--cyan);

	--nav-link-selected: var(--lightblue);

	--line-alternate: var(--white);
	--line-alternate-background: var(--cyan);

	--pet-card-title-color: var(--black);
    --pet-card-text-color: var(--black);
}

.theme-dark {
	--background: var(--black);
	--color: var(--white);
	--button-color: var(--navy);

	--navbar-main-link: var(--white);
	--navbar-link: var(--white);
	--navbar: var(--darkgray);

	--nav-link-hover: var(--lightblue);
	--nav-link-text-shadow: var(--black);
	--navbar-brand-hover: var(--lightblue);
	--nav-link: var(--white);

	--loginbutton: var(--lightblue);
	--loginbutton-background: var(--navy);
	--loginbutton-hover: var(--cyan);

	--nav-link-selected: var(--lightblue);

	--line-alternate: var(--black);
	--line-alternate-background: var(--darkgray);

	--pet-card-title-color: var(--black);
    --pet-card-text-color: var(--black);
}


body {
	background-color: var(--background) !important;
	color: var(--color) !important;
  }


/***** THEME SWITCHER *****/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }

  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: #2196F3;
  }

  input:checked + .slider:before {
	transform: translateX(26px);
  }

/***** NAVBAR *****/

.nav-bar-main-link {
	color: var(--navbar-main-link) !important;
	font-size: 24px !important;
}

.nav-bar-link {
	color: var(--navbar-link) !important;
	font-size: 18px !important;
}

.navbar {
	background-color: var(--navbar) !important;
}

.nav-link:hover {
	color: var(--nav-link-hover) !important;
	text-shadow: var(--white) 2px 4px 4px #2222228A;
}

.navbar-brand:hover {
	color: var(--navbar-brand-hover) !important;
	text-shadow: 2px 4px 4px #2222228A;
}

.nav-link {
	color: var(--nav-link) !important;
}

.login-button {
	background-color: var(--loginbutton-background) !important;
	color: var(--loginbutton) !important;
	border: none !important;
}

.login-button:hover {
	color: var(--loginbutton-hover) !important;
}

.nav-link-selected {
	text-shadow: 2px 4px 4px var(--nav-link-text-shadow);
	color: var(--nav-link-selected) !important;
}

.login-button-div {
	margin-left: auto;
	margin-right: 5px;
}
.blue-white{
	background-color: var(--line-alternate-background) !important;
	color: var(--line-alternate) !important;
}


/***** CARD LISTINGS *****/

.card-img-top {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

/***** PET CARD *****/
.pet-card-transform-fix {
	transform: rotate(0);
}

.information-text {
	font-size: 20px;
}

.pet-card-title {
    color: var(--pet-card-title-color) !important;
}

.pet-card-text {
    color: var(--pet-card-text-color) !important;
}

/***** CROPS *****/
.about-img-crop {
	max-width: 800px !important;
	width: 100% !important;
}

.cropped {
	overflow: hidden;
}

.cropped-img {
	margin: -40% 0% 0% 0% !important;
	transform: translateY(20%);
}

/***** CAROUSEL *****/
.carousel-crop {
	max-width: 700px!important;
	width: 100%!important;
	max-height: 300px!important;
}

.carousel-image {
	max-height: 300px!important;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.carousel-control-icon {
	filter: invert(1) grayscale(100)
}

/***** ALIGNMENTS *****/
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-size24 {
	font-size: 24;
}

.center {
	margin: auto;
	width: 50%;
}

.hr-new {
	border: 6px solid;
	color: var(--button-color);
	border-radius: 5px;
	opacity: 1;
}

.view-button {
	background-color: var(--button-color) !important;
	color: var(--white) !important;
}

.inline {
	display: inline !important;
}

.edit-section-profile {
	display: none;
}


/***** POST MANAGEMENT *****/
.post-management-no-posts-text {
	font-size: 24;
}
